@using Notes2017.Data
@model Notes2017.Models.Subscription

@{
    ViewData["Title"] = "Delete";
    ApplicationDbContext Db = ViewBag.Db;
    string file = Db.NoteFile.Single(p => p.NoteFileID == Model.NoteFileID).NoteFileName;

}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Subscription</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            NoteFile
        </dt>
        <dd>
            @file
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
