@*/*--------------------------------------------------------------------------
    **
    **  Copyright (c) 2017, Dale Sinder
    **
    **  Name: EditTZ.cshtml
    **
    **  Description:
    **      Edit Time Zone data
    **
    **  This program is free software: you can redistribute it and/or modify
    **  it under the terms of the GNU General Public License version 3 as
    **  published by the Free Software Foundation.
    **
    **  This program is distributed in the hope that it will be useful,
    **  but WITHOUT ANY WARRANTY; without even the implied warranty of
    **  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    **  GNU General Public License version 3 for more details.
    **
    **  You should have received a copy of the GNU General Public License
    **  version 3 along with this program in file "license-gpl-3.0.txt".
    **  If not, see <http://www.gnu.org/licenses/gpl-3.0.txt>.
    **
    **--------------------------------------------------------------------------
    */*@

@model TZone

@{
    ViewData["Title"] = "Edit Time Zone";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="EditTZ">
    <div class="form-horizontal">
        <h4>Time Zone</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="TZoneID" />
        <div class="form-group">
            <label asp-for="Abbreviation" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Abbreviation" class="form-control" />
                <span asp-validation-for="Abbreviation" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Offset" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Offset" class="form-control" />
                <span asp-validation-for="Offset" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OffsetHours" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OffsetHours" class="form-control" />
                <span asp-validation-for="OffsetHours" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OffsetMinutes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OffsetMinutes" class="form-control" />
                <span asp-validation-for="OffsetMinutes" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="TimeZones">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
