@using Microsoft.AspNetCore.Mvc.Rendering
@using Notes2017.ViewModels
@model MarkView

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Marked";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <h3>Note Marked For Output</h3>
        <h4>Please close this window.</h4>
    </div>
</div>
