@*/*--------------------------------------------------------------------------
    **
    **  Copyright (c) 2017, Dale Sinder
    **
    **  Name: OpenSource.cshtml
    **
    **  Description:
    **      Project Open Source Info
    **
    **  This program is free software: you can redistribute it and/or modify
    **  it under the terms of the GNU General Public License version 3 as
    **  published by the Free Software Foundation.
    **
    **  This program is distributed in the hope that it will be useful,
    **  but WITHOUT ANY WARRANTY; without even the implied warranty of
    **  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    **  GNU General Public License version 3 for more details.
    **
    **  You should have received a copy of the GNU General Public License
    **  version 3 along with this program in file "license-gpl-3.0.txt".
    **  If not, see <http://www.gnu.org/licenses/gpl-3.0.txt>.
    **
    **--------------------------------------------------------------------------
    */*@

@using Notes2017.ViewModels
@{
    ViewData["Title"] = "Open Source";
}
<div class="jumbotron">
    <h2>Welcome to Notes 2017 <img src="~/favicon.ico" width="32" /></h2>
    <h4>Today is @DateTime.Now.ToLongDateString(). - The Time is @DateTime.Now.ToShortTimeString(). @TZ.GetTimeZone(DateTime.Now)</h4>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>
            This is an open source project covered by the GNU General Public License
            **  version 3 <a href="http://www.gnu.org/licenses/gpl-3.0.txt">http://www.gnu.org/licenses/gpl-3.0.txt</a>.  Source may be found in the
            Visual Team Server location <a href="https://drsinder.visualstudio.com/Weather/_versionControl?path=%24%2FWeather%2FNotes2017&version=T&_a=contents">
                https://drsinder.visualstudio.com/Weather/_versionControl?path=%24%2FWeather%2FNotes2017&version=T&_a=contents
            </a>
            or see GitHub: <a href="https://github.com/drsinder/Notes2017">https://github.com/drsinder/Notes2017</a>
            To request access send email to <a href="mailto:sinder@illinois.edu">sinder@illinois.edu</a>
        </h4>

        <h4>Use the free Visual Studio 2017 and point the Team Explorer to: https://drsinder.visualstudio.com/Weather </h4>

        <p>Please <a href="mailto:sinder@illinois.edu">drop me an email</a> and let me know you have an installation up or for questions</p>
    </div>
</div>
