@{
    ViewData["Title"] = "Notes 2017 Database Schema";
}
<h2>@ViewData["Title"].</h2>

<p><img src="~/images/usertables.png" /></p>
<p><img src="~/images/filetables.png" /></p>
<p><img src="~/images/identtables.png" /></p>
<p><img src="~/images/hangfiretables.png" /></p>
